
html,body,#doc,#page-outer {
	height: 100%
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display: block
}
audio,canvas,progress,video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}[hidden],template {
	display: none
}
 
a {
	background: transparent
}

a:active,a:hover {
	outline: 0
}

b,strong {
	font-weight: bold
}

dfn {
	font-style: italic
}


h1 {
	font-size: 2em;
	margin: .67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}
img {
	border: 0
}
figure {
	margin: 1em 40px
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}


pre {
	overflow: auto
}

code,kbd,pre,samp {
	font-family: monospace,monospace;
	font-size: 1em
}

button,input,optgroup,select,textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,select {
	text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}
.Button::-moz-focus-inner {
	border: 0;
	padding: 0
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: bold
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,th {
	padding: 0
}
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

body.ms-windows {
	font-family: Arial,sans-serif
}

body.ar,body.ur,body.fa {
	font-family: Tahoma,Arial,sans-serif
}

body.ja {
	font-family: Arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif
}

body {
	background: #fff;
	color: #292f33;
	font-size: 14px;
	line-height: 18px;
	overflow-y: scroll
}

a {
	color: #2b7bb9;
	text-decoration: none
}

a:hover,a:focus,a:active {
	text-decoration: underline
}
blockquote,dl,dd,h1,h2,h3,h4,h5,h6,figure,p,pre {
	margin: 0
}



button {
	background: transparent;
	border: 0;
	padding: 0
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0
}

iframe {
	border: 0
}

ol,ul {
	margin: 0;
	list-style: none;
	padding: 0
}
a:focus {
	outline: 0
}

a:focus>img:first-child:last-child {
	outline: 1px dotted #666;
	outline: auto 5px -webkit-focus-ring-color
}
h1,h2,h3,h4,h5,h6 {
	text-rendering: optimizeLegibility
}

h1 {
	font-size: 24px;
	line-height: .8
}

h2 {
	color: #66757f;
	font-size: 22px;
	font-weight: 300;
	line-height: 22px
}

h2 small {
	color: #999;
	font-size: 12px;
	font-weight: normal
}

h3 {
	color: #66757f;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px
}

h4 {
	font-size: 12px;
	line-height: 18px
}

h5,h6 {
	font-size: 10px
}

small {
	font-size: 12px
}

ol {
	list-style: decimal;
	margin-left: 20px
}

ol>li {
	line-height: 20px
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	height: 0;
	margin: 14px 0 0;
	padding: 0
}
.u-cf:before,.u-cf:after {
	content: " ";
	display: table
}

.u-cf:after {
	clear: both
}

.u-nbfc {
	overflow: hidden!important
}
.u-textCenter {
	text-align: center!important
}

.Icon {
	background: transparent;
	display: inline-block;
	font-style: normal;
	vertical-align: baseline
}

.Icon:before {
	display: block;
	font-family: "rosettaicons";
	font-weight: normal;
	font-style: normal;
	text-align: center;
	-webkit-font-smoothing: antialiased
}
.Icon--bird:before {
	content: "\f179"
}

.Icon--search:before {
	content: "\f058"
}
.Icon--chevronDown:before {
	content: "\f202"
}
button {
	border: 0
}

.btn {
	background-color: #ccd6dd;
	background-repeat: no-repeat;
	border: 1px solid #e1e8ed;
	border-radius: 4px;
	color: #66757f;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	padding: 8px 16px;
	position: relative
}
.btn.focus,.btn:focus,.btn:active,.Button:focus {
	outline: 0!important
}

.primary-btn,.following.first-hover .follow-btn:hover,.following .follow-btn,.following .follow-button.cancel-hover-style:hover,.following .follow-button,.notifying .device-follow-button,.button-group-item .content.selected {
	color: #fff;
	background-color: #55acee;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#0C000000)";
	border: 1px solid #3b88c3;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.15)
}

.primary-btn:hover,.primary-btn:focus {
	color: #fff
}

.primary-btn:focus,.primary-btn.focus,.following .follow-btn:focus,.following .follow-button:focus,.notifying .device-follow-button:focus,.button-group-item .content.selected:focus {
	background: #55acee;
	border-color: #fff
}

.primary-btn:hover {
	background-color: #55acee;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#26000000)";
	border-color: #3b88c3
}

.primary-btn:active {
	background-color: #3b88c3;
	background-image: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#26000000, endColorstr=#26000000)";
	border-color: #3b88c3
}

.primary-btn.btn.disabled,.primary-btn.btn.disabled:hover,.primary-btn.btn[disabled],.primary-btn[aria-disabled=true] {
	background-color: #55acee;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#0C000000)";
	border-color: #3b88c3;
	color: #fff;
	text-shadow: none;
	opacity: .5;
	-ms-filter: "alpha(opacity=50)"
}

.t1-label,input,textarea,div[contenteditable="true"],.t1-select {
	margin: 0;
	font-size: 13px;
	line-height: 20px
}

.t1-label {
	display: block;
	margin-bottom: 5px;
	color: #292f33;
	cursor: pointer
}

input,textarea,div[contenteditable="true"],.t1-select {
	display: inline-block;
	width: 210px;
	padding: 4px;
	margin: 0;
	outline: 0;
	background-color: #fff;
	border: 1px solid #e1e8ed;
	border-radius: 3px
}

.ie9 input,.ie9 textarea {
	min-height: 20px
}